body {
  padding-top: 5  0px;
}

.starter-template {
  padding-top: 60px;
  text-align: center;
}
.typed {
  color: white;
  text-shadow: black 0.1em 0.1em 0.2em
}
.personal h1>span, .me h1>span {
    background-color: rgba(168,246,248,0.5);
    line-height: 1;
    padding: 2px;
}
@font-face {
    font-family: "VCR_OSD_MONO_1.001";
    src: url('../fonts/VCR_OSD_MONO_1.001.ttf'),
    url('VCR_OSD_MONO_1.001.ttf');
}
.bgimage {
    background-image: url("../images/computer.png");
    background-repeat:no-repeat;
    background-size:cover;
    background-color: rgba(0,0,0,0);
}






/* typed.js cursor*/
.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}














/*

import font test
.mecontent {
    font-family: "VCR_OSD_MONO_1.001";
}

*/